<div class="left-pane">
	<ul ng-show="lines">
		<li ng-repeat="line in lines">From: ({{line.From.R}}, {{line.From.C}}), Direction: ({{line.Direction.R}}, {{line.Direction.C}}), Len: {{line.Len}}</li>
	</ul>
</div>
<div class="right-pane">
	<form class="form" ng-submit="submit()">
		<input type="number" ng-model="size" name="size_input" min="3" max="7" ng-init="size=5" required>
		<div class="palette">
			<span ng-repeat="c in colors" ng-class="c.classes" ng-click="select(c.code)"></span>
		</div>
		<table class="map">
			<tr class="row" ng-repeat="row in map" ng-init="rindex=$index">
				<td class="cell" ng-class="color(cell)" ng-repeat="cell in row" ng-click="paint(rindex, $index)"></td>
			</tr>
		</table>
		<button type="submit">Calc!</button>
	</form>
</div>
